version: "3.4"
services:
  app:
    build:
      dockerfile: Dockerfile
    environment:
      MLAUNCH_INIT_ARGS: --replicaset --csrs --sharded 2 --mongos 1 --verbose
    volumes:
      - mlaunch:/mlaunch
    ports:
      - 27017:27017
      - 27018:27018
      - 27019:27019
      - 27020:27020
      - 27021:27021
      - 27022:27022
      - 27023:27023

volumes:
  mlaunch: {}
